<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 class="light-blue-text text-darken-4 center-align">Add Report</h3>
<!-- add employee type -->
<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">person_outline</i>
        <select id="employee_type" name="employee_type" required>
        <option value="">Select</option>
        <option value="engineer">Engineer</option>
        <option value="sales">Sales</option>
        <option value="office">Office</option>
        </select>
        <label for="employee_type">Employee Type</label>
    </div>
</div>
    

</body>
</html>



 <!-- restrict to engineers only-->
 <div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">build</i>
        <select id="username" name="username" class="validate" required>
        <option value="" disabled selected>Engineer Name</option>
        {% for username in usernames %}
            {% if username.employee_type == "engineer" %}
            <option value="{{ username.username }}">{{ username.username }}</option> 
            {% endif %}
        {% endfor %}
        </select>
        <label for="username">Engineer</label>
    </div>
</div>

<!-- confirm password -->
<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">password</i>
        <input id="confirm_password" name="confirm_password" minlength="5" 
            maxlength="15" class="materialize-textarea validate" required>
        <label for="confirm_password">Confirm Password</label>
    </div>
</div>