body {
    background-color: aliceblue;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.btn-small {
    margin: 7px
}
.material-icons {
    font-size: 30px
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.profile {
    margin-top: 40px;
}