{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add User</h3>


<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_user') }}">
        <!-- add user  -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">person_add</i>
                <input id="username" name="username" minlength="3" maxlength="25" 
                type="text" class="validate" required>
                <label for="username">New User</label>
            </div>
        </div>

        <!-- add password -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">password</i>
                <input id="password" name="password" minlength="3" maxlength="25" 
                type="text" class="validate" required>
                <label for="password">Password</label>
            </div>
        </div>

        <!-- confirm password -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">password</i>
                <textarea id="confirm_password" name="confirm_password" type="confirm_password" minlength="5" 
                    maxlength="200" class="materialize-textarea validate" required></textarea>
                <label for="confirm_password">Confirm Password</label>
            </div>
        </div>

        <!-- add employee type -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">person_outline</i>
                <select id="employee_type" name="employee_type" required>
                  <option value="" disabled selected></option>
                  <option value="engineer">Engineer</option>
                  <option value="sales">Sales</option>
                  <option value="office">Office</option>
                </select>
                <label for="employee_type">Employee Type</label>
              </div>
        </div>
       
        <!-- submit and cancel buttons -->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('manage_users') }}" class="btn-large red text-shadow">
                    Cancel <i class="material-icons">error</i></a>
                <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    Add User<i class="material-icons">person_add</i>
                </button>

            </div>
        </div>
    </form>
</div>

 
{% endblock %}