{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Report</h3>


<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_record') }}">
            <!-- restrict to engineers only-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">build</i>
                    <select id="username" name="username" class="validate" required>
                    <option value="" disabled selected>Engineer Name</option>
                    {% for username in usernames %}
                        {% if username.employee_type == "engineer" %}
                            <option value="{{ username.username }}">{{ username.username }}</option>
                        {% endif %} 
                    {% endfor %}
                    </select>
                    <label for="username">Engineer</label>
                </div>
            </div>
            <!-- customer name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="customer_name" name="customer_name" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="customer_name">Customer Name</label>
                </div>
            </div>
            <!-- date received -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">date_range</i>
                    <input id="date_received" name="date_received" type="text" 
                    class="datepicker validate" required>
                    <label for="date_received">Date Received</label>
                </div>
            </div>
            <!-- machine type-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">build</i>
                    <textarea id="machine_type" name="machine_type" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="machine_type">Machine Type</label>
                </div>
            </div>
            <!-- fault description-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">bug_report</i>
                    <textarea id="fault_description" name="fault_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="fault_description">Fault Description</label>
                </div>
            </div>
            <!-- action taken -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">call_to_action</i>
                    <textarea id="action_taken" name="action_taken" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="action_taken">Action Taken</label>
                </div>
            </div>
            <!-- parts used -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">devices_other</i>
                    <textarea id="parts_used" name="parts_used" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="parts_used">Parts Used</label>
                </div>
            </div>
            <!-- is resolved lever -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="material-icons prefix">error</i>
                        <label for="is_resolved">
                            Off
                            <input type="checkbox" id="is_resolved" name="is_resolved">
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
            </div>
            <!-- submit and cancel buttons -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_serviceReports') }}" class="btn-small red text-shadow">
                        Cancel</a>
                    <button type="submit" class="btn-small light-blue darken-1 text-shadow">
                        Add Record
                    </button>

                </div>
            </div>
    </form>
</div>

 
{% endblock %}