{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add User</h3>


<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_user') }}">
        <!-- add user  -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">build</i>
                <input id="username" name="username" minlength="3" maxlength="25" 
                type="text" class="validate" required>
                <label for="username">New User</label>
            </div>
        </div>

        <!-- add password -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">build</i>
                <input id="password" name="password" minlength="3" maxlength="25" 
                type="text" class="validate" required>
                <label for="password">Password</label>
            </div>
        </div>
       
        <!-- submit and cancel buttons -->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('manage_users') }}" class="btn-large red text-shadow">
                    Cancel <i class="material-icons">error</i></a>
                <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    Add User<i class="material-icons">person_add</i>
                </button>

            </div>
        </div>
    </form>
</div>

 
{% endblock %}