{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Record</h3>


<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="customer_name" name="customer_name" minlength="5" maxlength="50"
                    type="text" class="validate" required>
                <label for="customer_name">Customer Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">build</i>
                <textarea id="engineer_name" name="engineer_name" minlength="5"
                    maxlength="200" class="materialize-textarea validate" required></textarea>
                <label for="engineer_name">Engineer Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">date_range</i>
                <input id="date_received" name="date_received" type="text" 
                class="datepicker validate" required>
                <label for="date_received">Date Received</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                    <label for="is_resolved">
                        <input type="checkbox" id="is_resovlved" name="is_resolved">
                        <span class="lever"></span>
                        Is Resolved
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>

 
{% endblock %}