{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Manage Users</h3>

<div class="row">
    <div class="col s12 center-align">

        <a href="{{ url_for('add_user') }}" class=btn large light-blue darken-2 text-shadow>
            Add User <i class="material-icons left">add_box</i>
        </a>
    </div>

</div>

<div class="row">
    {% for user in users %}
    <div class="col s12 m3">
        <div class="card blue darken-1 text-shadow center-align">
            <div class="card-content white-text">
            <span class="card-title">{{ user.username }}</span>
            </div>
            <div class="card-action">
            <a href="{{ url_for('edit_user', user_id=user._id) }}" class="btn green accent-4">Edit</a>
            <div class="card-action">
            <a href="{{ url_for('delete_user', user_id=user._id) }}" class="btn red accent-4" 
            onclick=" return confirm('Are you sure you want to delete the user?')">Remove User</a>
            </div>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}