<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reprts Manager</title>
</head>
<body>
    {% for serviceReport in serviceReports %}
        {{ serviceReport.customer_name}}<br>
        {{ serviceReport.engineer_name}}<br>
        {{ serviceReport.date_received}}<br>
        {{ serviceReport.machine_type}}<br>
        {{ serviceReport.fault_description}}<br>
        {{ serviceReport.action_taken}}<br>
        {{ serviceReport.parts_used}}<br>
    {% endfor %}
</body>
</html>